<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a4f23cda-7d01-4a3b-961f-8499e41b1ab4/resourcegroups/HackerAPI20250803150122ResourceGroup/providers/Microsoft.Web/sites/HackerAPI20250803150122</ResourceId>
    <ResourceGroup>HackerAPI20250803150122ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/a4f23cda-7d01-4a3b-961f-8499e41b1ab4/resourceGroups/HackerAPI20250803150122ResourceGroup/providers/Microsoft.ApiManagement/service/HackerAPIapi/apis/HackerAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://hackerapi20250803150122.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>75fa2678-85d4-4817-b25a-3404c88847cf</ProjectGuid>
    <MSDeployServiceURL>hackerapi20250803150122.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HackerAPI20250803150122</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$HackerAPI20250803150122</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>